.add-todo {
    display: flex;
    gap: 20px;
}

.input {
    width: 300px;
    height: 30px;
    border: none;
    outline: #7FBCD2;
    border-radius: 5px;
    background-color: #edf2f7;
    padding: 5px 10px;
}

.input::placeholder {
    font-weight: bold;
    opacity: 0.5;
}

.add {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #7FBCD2;
    color: #fff;
    cursor: pointer;
}

.add:hover {
    background-color: #7FCCD8;
}